<p><strong><%= @scope == "admin" ? "dun admin sign-in" : "dun sign-in" %></strong></p>
<p>Use this token to complete sign-in:</p>
<pre><%= @raw_token %></pre>
<p>This token expires in 15 minutes and can only be used once. If you didn't request it, you can safely ignore this email.</p>
